rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{document} {
      allow read, write:
      if isAuthenticated();
    }

    match /connections/{document} {
      allow read, write:
      if isAuthenticated()
      && isOwner(resource.data.userId);
    }

    match /contacts/{document} {
      allow read, write:
      if isAuthenticated()
      && isOwner(resource.data.userId);
    }

    match /messages/{document} {
      allow read, write:
      if isAuthenticated()
      && isOwner(resource.data.userId);
    }
  }
}